@import "../base.scss";

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;

  & form {
    max-width: 25rem;
    padding: $padding;

    & input {
      width: 100%;
      margin-bottom: $margin;
      @include paddingBox;
    }
  }
}

.footer {
  font-size: 0.725rem;

  & a {
    text-transform: capitalize;
    text-decoration: underline;
    cursor: pointer;
  }
}
