@import "../base.scss";

form {
  max-width: 20rem;
  margin: auto;
  padding: $padding;

  & input {
    width: 100%;
    margin-bottom: $margin;
    padding: calc(#{$padding} * .618) $padding;
  }
}