@import "../../../base";

.form {
  & h3 {
    text-transform: capitalize;
  }
  & input {
    color: $black;
    // outline: $primary solid .062rem;
    &:focus {
      outline: none;
      box-shadow: 1px 1px 1px $primary, -1px -1px 1px $primary;
    }
  }
}
